@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inria+Sans:ital@0;1&family=Kaushan+Script&family=Quicksand&family=Varela+Round&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inria+Sans:ital@0;1&family=Kaushan+Script&family=Quicksand&family=Varela+Round&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inria+Sans:ital@0;1&family=Kaushan+Script&family=Quicksand&family=Varela+Round&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto+Condensed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Luckiest+Guy&family=Manrope:wght@200..800&family=Neucha&family=Pangolin&family=Poetsen+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Fredoka";
    margin: 0;
    padding: 0px;
}
#help-section{
  height: 90vh;
  background: url(help-background.png);
  background-size: cover;

}
.container{
  padding: 20px;
}

h1 {
  padding: 20px 0;
    text-align: center;
    color: #1b6769;
}
h2{
    text-align: center;
    color: #1b6769;
}
p{
    font-size: larger;
    color: rgb(62, 22, 148);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.options {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.options button {
    padding: 50px 50px;
    width: 20rem;
    height: 100px;
    margin: 10px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
#play-game{
    border: solid;
}
#watch-videos{
    border: solid;
}
#listen-music{
    border: solid;
}
#cook-nice{
    border: solid;
}


#content {
    margin-top: 20px;
}
#help {
      position: fixed;
      top: 50px;
      right: 30px;
      padding: 10px;
      border: 1px solid #1e1515;
      border-radius: 5px;
      background-color: #cdb9c3;
    }
#back{
    position: fixed;
    top: 10px;
    left: 5px;
    padding: 10px;
}   
#watch-videos{
  align-items: center;
  background-color: #a8dadc ;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

#watch-videos:hover,
#watch-videos:focus { 
  background-color: #86bbbd ;
  color: #ffffff;
}

#watch-videos:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

#watch-videos:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
#listen-music{
    align-items: center;
    background-color: #f38375;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  #listen-music:hover,
  #listen-music:focus { 
    background-color: #c76a5e;
    color: #ffffff;
  }
  
  #listen-music:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  #listen-music:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
  #cook-nice{
    align-items: center;
    background-color: #fdd85d;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  #cook-nice:hover,
  #cook-nice:focus { 
    background-color: #dab747;
    color: #ffffff;
  }
  
  #cook-nice:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  #cook-nice:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
  #play-game{
    align-items: center;
    background-color: #c371e9;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  #play-game:hover,
  #play-game:focus { 
    background-color: #b15fd6;
    color: #ffffff;
  }
  
  #play-game:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  #play-game:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
  


