<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script>
  window.botpressWebChat.init({
      "composerPlaceholder": "Talk to me",
      "botConversationDescription": "your pup is here to help you!",
      "botId": "ff0fb46a-ab18-4865-af5e-79f8f318437e",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "ff0fb46a-ab18-4865-af5e-79f8f318437e",
      "webhookId": "456af327-6049-45ce-861b-9f7dd35c19d9",
      "lazySocket": false,
      "themeName": "prism",
      "botName": "PUP",
      "frontendVersion": "v1",
      "theme": "prism",
      "themeColor": "#7ABA78"
  });
</script>
</body>
</html>